numpy
pandas
matplotlib
seaborn
#------------------------
pdf2docx
pillow
pypdf[full]
st-social-media-links
streamlit-pdf-viewer
fitz
pdf2image
PyMuPDF
pypdf2
python-docx 
docx2txt
contextlib
#rembg
streamlit-cropper
streamlit-image-comparison
SpeechRecognition 
pydub
